/* -------fonts------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body,
header,
main,
main .todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  background-color: black;
  color: white;
}
header {
  height: 30vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
main {
  margin-top: -5vh;
  width: 70vw;
  height: fit-content;
}
.todo-form {
  background-color: rgb(5, 5, 5);
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 30px;
}
.todo-form .input-wrapper input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid grey;
  outline: none;
  color: white;
  font-size: 17px;
  background-color: rgba(225, 225, 225, 0.1);
}
.todo-form .input-wrapper input:focus {
  filter: drop-shadow(0 0 10px rgba(225, 225, 225, 0.5));
}
.todo-form .input-wrapper {
  width: 100%;
  position: relative;
}
.todo-form .input-wrapper > button {
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  font-weight: bold;
  right: 10px;
  top: 5px;
}
.todo-form .input-wrapper > button:hover {
  background-color: rgba(0, 225, 100, 0.5);
  scale: 1.1;
}
.todo-form .input-wrapper .colorContainer > button {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  opacity: 0.5;
}
.todo-form .input-wrapper .colorContainer #red {
  background-color: red;
  border-color: red;
}
.todo-form .input-wrapper .colorContainer #blue {
  background-color: blue;
  border-color: blue;
}
.todo-form .input-wrapper .colorContainer #lightgreen {
  background-color: lightgreen;
  border-color: lightgreen;
}
.todo-form .input-wrapper .colorContainer #yellow {
  background-color: yellow;
  border-color: yellow;
}
button:hover {
  scale: 1.1;
}
.todo-form ul {
  width: 100%;
  margin-left: -30px;
  padding: 30px;
}
.todo-form ul li {
  list-style-type: none;
  font-size: 17px;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.todo-form ul li button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgba(0, 100, 30, 0.1);
  color: green;
  font-size: 17px;
  font-weight: bold;
}

/* -------CONTRIBUTORS------- */
footer {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  main {
    width: 100%;
  }
}
